        .logo img {
            height: 50px;
            width: 163px;
        }

        .cont {
            display: flex;
            border: 0px solid;
            max-width: 50vw;
            margin: auto;
            background-color: whitesmoke;
            justify-content: space-around;
            align-items: center;
            font-family: Inter, Helvetica, Arial, ;

        }

        .right a {
            text-decoration: none;
            color: black;
        }

        .right ul li {
            list-style: none;
            display: flex;
            align-items: center;

            cursor: pointer;


        }

        .right ul {
            display: flex;
            gap: 30px;
            text-decoration: none;
        }

        .right ul li span {
            padding: 0 5px;
        }

        .right ul li button {
            padding: 10px;
            display: flex;
            justify-content: end;
            background-color: orange;
            border: 0 solid;
            border-radius: 3px;
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 70px;
            gap: 25px;
            font-family: sans-serif;
        }

        .first span {
            font-size: 40px;
        }

        .img {
            width: 40px;
            margin: 0 20px;
        }

        .first p {
            text-align: center;
            font-size: 20px;
            width: 30vw;
            color: gray;

        }

        .btn {
            padding: 13px 22px;
            text-align: center;
            background-color: yellow;
            border: 0px solid black;
            border-radius: 8px;
            font-weight: 500;
            color: #2e2e2e;
            font-size: 15px;

        }

        .flex {
            display: flex;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: grey;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 60px;
            margin-left: 200px;
        }

        .small {
            font-size: 20px;
        }

        .flex div:nth-child(1) {
            font-size: 20px;
        }

        .sec {
            max-width: 70vw;
            margin: auto;
            margin-left: 10%;
        }

        .grid {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .box {
            border: 0px solid;
            border-radius: 10px;
            display: grid;
            place-items: center;
            padding: 20px;
            margin-top: 30px;
            margin-left: 50px;
            background-color: #f9f9f9;
        }
        
        .lang {
            text-align: center;
        }

        .button {
            background-color: yellow;
            border: 0 solid black;
            border-radius: 8px;
            padding: 10px;
            margin: 10px;
            width: 150px;
            cursor: pointer;
        }

        .button a {
            text-decoration: none;
            color: black;
        }

        .p {
            text-align: center;
        }

        .span {
            font-size: 10px;
        }

        .footer {
            display: grid;
            justify-content: center;
            align-items: center;
        }

        .footer a {
            text-decoration: none;

        }

        @media screen and (max-width: 1145px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }